<html>
<head>
    <title>europe wiki crawler</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
    <style>
        .masthead .container {
            margin-top: 3em;
            margin-bottom: 1em;
        }

        .link-list {
            word-wrap:break-word;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui inverted header">Crawl Europe Wiki</h1>
            <h2>crawls for links and follows them then display all links</h2>
            <sui-button class="huge" primary @click="loadAllLinks" v-if="linksToGet === 1">
                Load all links
                <i class="right arrow icon"></i>
            </sui-button>
            <sui-button class="huge red" @click="stopLoading" v-if="linksToGet > 1">Stop loading</sui-button>
        </div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable container">
            <div class="ui header">Links</div>
            <div v-if="linksToGet > 1" class="ui active inverted dimmer">
                <div class="ui indeterminate text loader">Loading ... {{linksToGet}} links to crawl</div>
            </div>

            <div v-if="linksToGet === 0">
                <ul class="link-list">
                    <li v-for="link in filteredLinks">{{link}}</li>
                </ul>
                <sui-button class="left labeled icon" @click="changeOrder">
                    <i class="sort icon"></i>
                    sort
                </sui-button>
                <sui-button class="left labeled icon" @click="movePage(-1)">
                    <i class="left arrow icon"></i>
                    prev
                </sui-button>
                <span>{{currentPage}} / {{pages}}</span>
                <sui-button class="right labeled icon" @click="movePage(1)">
                    <i class="right arrow icon"></i>
                    next
                </sui-button>
            </div>
            <div v-else>
                No links to display yet.
            </div>
        </div>
    </div>
</div>

<script src="js/main.bundle.js"></script>
</body>
</html>